.account-avatar {
    border-radius: 50%
}

.account-avatar-wrapper {
    text-align: center;
  
}

.account-wrapper {
    background-color: none;
    line-height: 200%;
}

.account-form {
    margin-bottom: 5vh;
}

.upload-avatar-button {
    width: 40px;
    border-radius: 50px;
    border-width: 2px;
    background-color: var(--colors-input-background);
    position: absolute;                                          
    top: 25%;                                                    
    right: 33%;  
}

.account-form fieldset {
    width: 90%;
    background-color: #e8effe;
    align-items: center;
    text-align: left;
    margin-bottom: 2vh;
    border: 1.5px solid var(--colors-accent);
    padding-left: 2%;
    padding-right: 2%;
}

.account-form fieldset legend {
    text-align: right;
    width: 80%;
}

.account-form fieldset legend span {
    text-align: left;
    width: 80%;
}

.registration-form, .login-form {
    width: 100%;
}

.registration-form div, .login-form div {
    justify-content: center;
    width: 90%;
}

.registration-form div fieldset, .login-form div fieldset {
    width: 100%;
    background-color: #e8effe;
    align-items: center;
    text-align: right;
    margin-bottom: 2vh;
    border: 1.5px solid var(--colors-accent);
    padding-left: 2%;
    padding-right: 2%;
}

.registration-form div fieldset legend, .login-form div fieldset legend {
    text-align: right;
    width: 100%;
}

.registration-form div fieldset input,.login-form div fieldset input {
    text-align: center;
    width: 100%;
    border: none;
    background-color: #e8effe;
}

.registration-form div fieldset select {
    text-align: center;
    width: 100%;
    border: none;
    background-color: #e8effe;
}

/* .update-avatar-link {
    margin: 3vh 0 4vh 0;
} */